.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__qgEbi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-4S1t0ttiGe96);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__qgEbi:hover {
  color: var(--token-OrOooRq6HU13);
}
.img__rdcyC {
  object-fit: cover;
}
.img__rdcyC > picture > img {
  object-fit: cover;
}
.img__eV9Oc {
  object-fit: cover;
}
.img__eV9Oc > picture > img {
  object-fit: cover;
}
.link__wuhlN {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__wuhlN:hover {
  color: var(--token-OrOooRq6HU13);
}
.link__pgpCs {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__pgpCs:hover {
  color: var(--token-OrOooRq6HU13);
}
.link___7Aq9 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___7Aq9:hover {
  color: var(--token-OrOooRq6HU13);
}
.link___5XJxa {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___5XJxa:hover {
  color: var(--token-OrOooRq6HU13);
}
